@model Portfolio.Models.BlogPost

@{
    Layout = "~/Views/Shared/_BlogLayout .cshtml";
    ViewBag.Title = "Edit";
}

<main class="main">
    <section class="container view-content">
        @using (Html.BeginForm("Edit", "BlogPosts", FormMethod.Post, new { enctype = "Multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Editing: <b>@Html.Raw(Model.Title)</b></h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.created)
                @Html.HiddenFor(model => model.Updated)
                @Html.HiddenFor(model => model.Title)
                @Html.HiddenFor(model => model.Slug)
                <div id="media-same">@Html.HiddenFor(model => model.MediaUrl)</div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control", rows = "10", id = "editor" } })
                        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MediaUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.MediaURL, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input name="image" type="file" class="form-control form-narrow" id="fileUpload" />
                        <p class="text-danger">Image must be smaller than 2MB.</p>
                        @Html.ValidationMessageFor(model => model.MediaUrl, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Category, new SelectList(new string[] { "Programming", "Art and Design", "Adventure", "Fun Finds" }), new { @class = "form-control form-narrow" })
                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Published, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Published)
                            @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="verify-contain col-md-offset-2 col-md-10">
                        @if (User.IsInRole("GuestAdmin"))
                        {
                            <button type="button" id="edit" class="btn btn-dark btn-round" disabled>Save</button>
                        }
                        else
                        {
                            <button type="button" id="edit" class="btn btn-dark btn-round">Save</button>
                        }
                        <div id="verify">
                            <p class="text-danger">Are you sure you want to permanently modify this post?</p>
                            <input type="submit" name="Submit" value="Save and go to Admin page" class="btn btn-dark btn-round pull-right btn-two" />
                            <input type="submit" name="Submit" value="Save and go to Blogposts" class="btn btn-dark btn-round pull-right btn-two" />
                        </div>
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </section>
</main>
@section Scripts {
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#editor').tinymce({});
        });
    </script>
}
